
body {
    background-color: black; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    height: 100vh; 
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    background-color: #1f1f1f;
    align-items: center;
    border-radius: 25px;
    padding: 20px;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 45px; 
}
h3,h1,p{
    text-align: center;
}
.card-info h1 {
    color: #faf5f5;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 2px; 
}

.card-info p {
    color: #faf5f5;
    font-size: 15px;
}

.card-info h3 {
    color: yellow;
    font-size: 13px;
    font-family:inherit;
    font-weight: 500;
    margin-top: 3px; 
}


.card-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
    width: 100%;
}
.card-action a {
     
    display: flex; 
    justify-content: center;
    padding:12px 30px;
    font-size: 14px;
    text-decoration: none;
    justify-content: center;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}